h1,
h2,
h3,
h4,
p {
  margin: 0;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.nav--background {
  background: #F55A5A;
  color: #fff;
  padding: 15px 0;
  display: flex;
  justify-content: center;

}

.nav--background svg {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}

.nav--background p {
  margin: 0;
}

.mainContainer {
  max-width: 525px;
  margin: 0 auto;
}

.main--location-row {
  display: grid;
  place-items: center;
  grid-template-columns: 125px 1fr;
  gap: 10px;
  margin: 10px 0;
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(145, 142, 155, .15);
}

.location--map,
.location--dates-container {
  display: flex;
  align-items: center;
}

.mapIcon {
  font-size: 10px;
}

.location--location {
  font-size: 10px;
  letter-spacing: 1.25px;
  text-transform: uppercase;
  margin: 0 10px 0 4px;
}

.location--map-link {
  font-size: 10px;
  color: #918e9b;
}

.location--name {
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 15px;
}

.location--image-container {
  width: 125px;
  overflow: hidden;
  position: relative;
  height: 175px;
  border-radius: .25em;
}

.location--image {
  height: 100%;
  position: relative;
  left: -50%;
}

h3.location--dates {
  font-size: 11px;
}

.spacer {
  margin: 0 10px;
}

.mapIcon {
  color: #F55A5A
}

p.location--description {
  font-size: 12px;
}